spring:
    application:
        name: api-gateway

    config:
        import: optional:configserver:http://localhost:8888


eureka:
    client:
        serviceUrl:
            defualtzone: http://localhost:8761/eureka
            
