eureka:
    client:
        serviceUrl:
            defaultZone: http://localhost:8761/eureka/
    instance:
        prefer-ip-address: true

server:
    port: 8080  

spring:
    cloud:
        gateway:
            server:
                webflux:
                    routes:
                        - id: user-service
                          uri: lb://USER-SERVICE
                          predicates: 
                            - Path= /api/users/**

                        - id: activity-service
                          uri: lb://ACTIVITY-SERVICE	
                          predicates: 
                            - Path= /user/activity/**

                        - id: ai-service
                          uri: lb://AI-SERVICE
                          predicates: 
                            - Path= /api/recommendation/**

            
